
.card{
    max-width: 32%;
    border: none;
    border-radius: 25px;
}
.btn{
    background-color: #E53565;
    color: white;
    transition: ease-in-out 0.25s;
    width: 100%;
    border-radius: 25px;
}
.btn:hover{
    background-color: transparent;
    border: 1px solid #E53565;
    color: #9E2E40;
}
.btn-g{
    background-color: white;
    color: black;
    border: 1px solid black;
}

li{
    list-style-type: none;
}
.clearfix{
    font-size: 14px;
    width: 100%;
}
.clearfix a{
    color: #9E2E40;
}

input:focus, input.form-control:focus {
    outline:none;
    outline-width: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

h3{
    font-family: 'Fredoka', sans-serif;
    color: #E53565;
}
h5{
    font-weight: 400;
}
h6{
    font-weight: 400;
}
h2{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E53565;
}

@media only screen and (max-width: 992px){
    .card{
        max-width: 60vw;
    }
}
@media only screen and (min-width: 992px){
    .card{
        max-width: 40%;
    }
}
@media only screen and (max-width: 600px){
    .card{
        max-width: 100vw;
    }
}
